# Created by .ignore support plugin (hsz.mobi)

### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/node_modules/
/typings/
/tests/node_modules/
/tests/.meteor/local/
/tests/typings/
